.header {
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respod(mobile) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 10rem;
  }
}
.logo {
  height: 3.35rem;
  margin-left: 3rem;
}
